body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    width: 100%;

}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 80%;

    max-width: 600px;

}

.delivery-options {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.delivery-link {
    margin: 0 10px;
    cursor: pointer;
}